  body {
      background: #F6F6F6;
      font-family: 'Inter', sans-serif;
      padding-top: 80px;
  }

  .main-card {
      max-width: 550px;
      margin: 80px auto;
      background: white;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
  }

  .accordion-button {
      background: #ffffff;
      border: 1px solid #E5E5E5;
      border-radius: 10px;
      padding: 18px;
      font-size: 15px;
  }

  .accordion-button:not(.collapsed) {
      color: #000;
      border: 1px solid #128DFF;
      box-shadow: none;
  }

  .accordion-item {
      background: transparent;
      border: none;
      margin-bottom: 12px;
  }

  h1 {
      text-align: center;
      margin-top: 40px;
      font-weight: 600;
      color: #555;
  }
  